#clothes_category_input_container, {
    width: 200px;
    text-align: center;
    padding: 10px 10px 10px 20px;
}

/* The container */
.clothes_category_container, {
    margin: 10px;
    display: block;
    position: relative;
    cursor: pointer;
    font-size: 14px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default radio button */
.clothes_category_container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 14px;
    width: 14px;
    background-color: #eee;
    border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.clothes_category_container:hover input~.checkmark {
    background-color: #bbbbbb;
}

/* When the radio button is checked, add a pink background */
.clothes_category_container input:checked~.checkmark {
    background-color: rgb(255, 145, 123);
}

#clothes_size_input_container{
    width: 250px;
    text-align: center;
    padding: 15px 15px;
}

.clothes_size {
  color: #bbbbbb;
  font-size: 10px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 5px;
  top: 8px;
  transition: 300ms ease all;
}

.submit_button_small {
    margin-top: 10px;
    padding: 10px 5px;
    width: 60px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    background: rgb(255, 145, 123);
    cursor: pointer;
    border-radius: 10px;
    outline: 0;
    border: 0;
    font-family: 'Do Hyeon';
  }

